/* ~~~~~~~~ HEADER ~~~~~~~~~~ */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}

header img {
  margin-bottom: 30px;
}


header nav {
  width: 400px;
  /* padding: 56px; */
}

header nav ul{
  padding: 0px;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
}

.blog {
  color: #0ba39c;
}

header nav ul li a:hover {
  color: #0ba39c;
}

/* ~~~~~~~~ MAIN ~~~~~~~~~~ */

main {
  /* display: grid; */
  /* grid-template-columns: 30% 70%; */
  /* grid-template-rows: auto auto auto; */
}

main div.box1, .box2, .box3 {
  border: 2px solid black;
  /* margin: 50px; */
  /* width: 800px; */
  /* height: 100%; */
}
/* 
button, h2, main div p {
  /* display: flex; */
  /* justify-content: end;
  float: right;
} */ */
main div img {
  float: left;
}