h1 {
  color: white;
  text-transform: uppercase;
  background-color: rgb(39, 38, 38);
  border: 20px solid rgb(39, 38, 38);
  width: fit-content;
  margin: auto;
  margin-bottom: 40px;
  /* text-align: center; */
  /* display: flex; */
  /* flex: 1; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}
/* ~~~~~~~~ HEADER ~~~~~~~~~~ */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}

header img {
  margin-bottom: 30px;
}


header nav {
  width: 400px;
  /* padding: 56px; */
}

header nav ul{
  padding: 0px;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
}

.gallery {
  color: #0ba39c;
}

header nav ul li a:hover {
  color: #0ba39c;
}

/* ~~~~~~~~MAIN~~~~~~~~~~ */
td img {
  border: 5px solid black;
  display: flex;
  justify-content: space-evenly;
  opacity: 1;
  /* width: 200px; */
}
td img:hover{
  opacity: 0.5;
}

td {
  height:350px;
  width:350px;
  text-align: center;
  /* border: 5px solid black; */
  /* font-size: 100px; */
}

table {
  margin: auto auto;
}
