* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
header, img, div, ul {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

div ul {
  list-style-type: none;
  text-decoration: none;
  border: 40px;
  display: flex;
  justify-content: space-between;
 
}